<a href="https://colab.research.google.com/github/SanyaMathur0411/21CSS101J-AAPython-beginner/blob/main/RA2211042010042%2050%20programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#1
x = 5
y = "Sanya"
print(x)
print(y)

a = 4       # x is of type int
a = "Mathur" # x is now of type str
print(a)

5
Sanya
Mathur

In [10]:
#2
#identifying type of variable
x = 5
y = "Sanya"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
#3
# single and double quotes 
x = "SANYA"

Y = 'SANYA'

print(x)
print(Y)

SANYA
SANYA

In [14]:
#4
#Variable names are case-sensitive.


a = "4"
A = "SANYA"
#A will not overwrite a
print(a)
print(A)

4
SANYA

In [18]:
#5
''' Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)'''

#Legal variable names:
myvar = "Sanya"
my_var = "Sanya"
_my_var = "Sanya"
myVar = "Sanya"
MYVAR = "Sanya"
myvar2 = "Sanya"

print(myvar)

Sanya

In [19]:

#6
#To combine both text and a variable, Python uses the + character:

x = "awesome"
print("Python is " + x)

#equal to :

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome
Python is awesome

In [20]:
#7
#For numbers, the + character works as a mathematical operator:
x = 598789
y = 106565
print(x + y)

x1 = 5
y2= "John"
print(x1 + y2)

#shows error becuase of different data types

705354

TypeError: ignored

In [23]:
#8
#global variable 

x = "awesome"

def myfunc2():
  x = "fantastic"
  print("Python is " + x)

myfunc2()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
#9
def myfunc():
  global x #global keyword
  x = "fantastic"
  print("Hey")

myfunc()

print("Python is " + x)

Hey
Python is fantastic

In [26]:
#10
#data types 
a = str("Hello World")	#str	
b = int(20)	#int	
c = float(20.5)	#float	
d = complex(1j)	#complex	
e = list(("apple", "banana", "cherry"))	#list	
f = tuple(("apple", "banana", "cherry"))	#tuple	
g = range(6)	#range	
h = dict(name="John", age=36)	#dict	
i = set(("apple", "banana", "cherry"))	#set	
j = bool(5)	#bool	


print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

Hello World
20
20.5
1j
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'cherry', 'apple', 'banana'}
True

In [27]:
#11
#numeric data types

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [28]:
#12
#int data type 
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [29]:
#13
#float data type

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))



a = 35e3
b = 12E4
c = -87.7e100

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [32]:
#14
#Complex numbers are written with a "j" as the imaginary part:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [31]:
#15
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

#Note: You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [30]:
#16
#random number

import random

print(random.randrange(1, 10))

4

In [33]:
#17



x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

a = float(1)     # x will be 1.0
b = float(2.8)   # y will be 2.8
c = float("3")   # z will be 3.0
d = float("4.2") # w will be 4.2

e = str("s1") # x will be 's1'
f = str(2)    # y will be '2'
g = str(3.0)  # z will be '3.0'

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(x)
print(y)
print(z)

1.0
2.8
3.0
4.2
s1
2
3.0
1
2
3

In [34]:
#18
#Strings

print("Hello") #its equal to
print('Hello')

Hello
Hello

In [35]:
#19
#Assign String to a Variable


a = "Hello"
print(a)

Hello

In [36]:
#20
#Multiline Strings


a = """bryghurhguhrughib,
uihheuirhfuihefh,
bvuiruivin."""

#is equal to

b ='vvyrhheuvh '


print(a)
print(b)

bryghurhguhrughib,
uihheuirhfuihefh,
bvuiruivin.
vvyrhheuvh

In [37]:
#21 for loop in string 
for x in "banana":
  print(x)

b
a
n
a
n
a

In [39]:
#22
#String Length

a = "Good Morning !"
print(len(a))

14

In [40]:
#23
#Check String


#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

txt = "Hello buddie owo!"
if "owo" in txt:
  print("Yes, 'owo' is present.")

True
Yes, 'owo' is present.

In [41]:
#24 slicing
b = "Hello, World!"
print(b[2:5])

llo

In [42]:
#25 slicing 
b = "Hello, World!"
print(b[:5])

Hello

In [44]:
#26 slicing 
b = "Hello, World!"
print(b[2:])

llo, World!

In [45]:
#27
b = "Hello, World!"
print(b[-5:-2])

orl

In [46]:
#28 upper case 
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [47]:
#29 lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [48]:
#30 remove whitespace
a = " Hello, World! "
print(a.strip())

Hello, World!

In [49]:
#31
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [50]:
#32 splitting
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [52]:
#33 concat 
a = "Hello"
b = "hi"
c = a + b
print(c)

#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hellohi
Hello World

In [53]:
#34escape seq
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#35
#escape seq
SingleQuote = "The humans are \'Inhumans\' sometimes."
print(SingleQuote)

Backslash = "This will insert one \\ (backslash)."
print(Backslash) 

NewLine = "Hello\nWorld!"
print(NewLine) 

CarriageReturn = "Hello\rWorld!"
print(CarriageReturn) 

AnSpace = "So\tSpace!"
print(AnSpace)


EraseBackSpace = "Little \bSpace!"
print(EraseBackSpace)

txt = "\110\145\154\154\157"
print(txt) 

txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

In [57]:
#36 endswith
EndsWith = "Hello, welcome to my world!"

x = EndsWith.endswith(".")
print(x)

False

In [58]:
#37 tab size 
WhiteTabs = "H\te\tl\tl\to"

x =  WhiteTabs.expandtabs(2)

print(x)

H e l l o

In [59]:
#38 finds text
Finder = "Hello, welcome to my world."

x = Finder.find("welcome")

print(x)

7

In [60]:
#39 finds text
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [61]:
#40 if all letters are alphabets
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [62]:
#41 if lowercase
xt = "Hello World!"

x = txt.islower()

print(x)

False

In [ ]:
#42 checks if all numeric
txt = "565543"

x = txt.isnumeric()

print(x)

In [ ]:
#43 if upper case
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)